<!DOCTYPE html>
<html lang="pt-br">
<head>
        <!-- from BOOTSTRAP: Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% if title %}
        <title>Espelho de Classe - {{ title }}</title>
    {% else %}
        <title>Espelho de Classe</title>
    {% endif %}
</head>
<body style="background-color:#ffffff;">
{% block body %}{% endblock %}
</body>
</html>