{% extends 'base.html' %}

{% block body %}
<center>
<table width="60%" border="0">
<img class="three" src="{{url_for('static', filename='img/passo3.jpg')}}">
</table></center>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

td, th {
  border: 1px solid #f4bcff;
  padding: 10 px;
  text-align: center;
  vertical-align: middle;

}

tr:nth-child(even) {
  background-color: #f9daff;
  margin: 0 auto;

}
</style>
<table style="width:60%">
<form action="" method="POST" id="groups">
  <tr>
    <th width="40%">Estudante</th>
    {% for i in range (1, 11) %}
    <th style="font-size: 0.875em">Gr.<br>{{i}}</th>{% endfor %}
  </tr>

{% set count = [0] %}
{% for st in studentslist %}

  <tr>
    <td width="4%">{{ st }}</td>
    {% for i in range (1, 11) %}
    <td width="4%"><input type="checkbox" id="Grupo{{i}}" name="Grupo{{i}}" value="{{count}}"><label for="Grupo{{i}}"></label></td>
    {% endfor %}
  </tr>
{% if count.append(count.pop() + 1) %}{% endif %}
{% endfor %}
</table><br>
<p align="center"><button type="submit" form="groups" value="Próxima Etapa" style="width:200px;">Próxima Etapa</button></p>


{% endblock %}